<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mastodos</title>
    <link rel="icon" href="mastodon/src/main/res/mipmap-mdpi/ic_launcher_round.png">
    <link rel="me" href="https://floss.social/@mastodon">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/github-markdown-css/5.1.0/github-markdown.min.css">
  </head>
  <body class="markdown-body">
    <div style="margin: 0 auto; max-width: 45rem; padding: 2rem 1rem">
      {{ content }}  
    </div>
  </body>
</html>